<section class="docs-container">

    <article class="docs-row">
        <h1>Grunt-Website</h1>
        <p>An awesome toolkit for web development</p>
    </article>

    <article class="docs-row">
        <h2>Built in Tasks</h2>
    </article>

    <div class="docs-row">
        <article class="docs-box">
            <h3>Build</h3>
            <pre>
                grunt
            </pre>
        </article>
        <article class="docs-box">
            <h3>Serve</h3>
            <pre>
                grunt serve
            </pre>
        </article>
    </div>

    <article class="docs-row">
        <h2>Assets</h2>
    </article>

    <div class="docs-row">
        <article class="docs-box">
            <h3>Webfonts</h3>
            <p>Will create a font from SVG located in assets/webfont/*.svg</p>
            <p>Call them using &lt;i class=&quot;icon icon_filename&quot;&gt;&lt;/i&gt;</p>
        </article>
        <article class="docs-box">
            <h3>Icons</h3>
            <p>Will create a sprite from SVG&PNG. With PNG fallback</p>
            <p>Use it using &lt;div class=&quot;icon-filename&quot;&gt;&lt;/div&gt;</p>
        </article>
        <article class="docs-box">
            <h3>Image Sprites</h3>
            <p>Will create a image sprite from PNG&JPG or other formats</p>
            <p>&lt;div class=&quot;sprite sprite-filename&quot;&gt;&lt;/div&gt;</p>
        </article>
        <article class="docs-box">
            <h3>Embed SVGs</h3>
            <p>Will compress all SVG in one simple Base64 CSS</p>
            <p>It will be embeded with JS, enabling stylign and animation</p>
            <p>&lt;div class=&quot;illus-filename&quot; data-grunticon-embed&gt;</div>
</p>
        </article>
        <article class="docs-box">
            <h3>Assets</h3>
            <p>Any other assets inside /assets/ will be available</p>
        </article>
        <article class="docs-box">
            <h3>Bower</h3>
            <p>Install any requirement with Bower.js</p>
            <p>bower install jquery --save</p>
        </article>
        <article class="docs-box">
            <h3>SASS</h3>
            <p>SASS is quickly compiled with libsass</p>
        </article>
        <article class="docs-box">
            <h3>Templates</h3>
            <p>Works like a charm with Handlebars</p>
        </article>
    </div>




</section>
