---
title: Home
---

<section>
<h2>Webfont</h2>
<i class="icon icon_aerolab"></i>
</section>
<section>
<h2>Icon</h2>
<div class="icon-aerolab" style="width: 100px; height: 100px;"></div>
</section>
<section>
<h2>Illsutration is a embeded SVG (data-grunticon-embed)</h2>
<div class="illus-html5badge" style="width: 400px; height: 300px;" data-grunticon-embed></div>
</section>
<section>
<h2>Image</h2>
<img src="assets/images/team.jpg">
</section>
<section>
<h2>Sprite</h2>
<span class="sprite sprite-obel"></span>
<span class="sprite sprite-geek"></span>
</section>
{{>hello}}
